@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: #ffffff;
  color: #000000;
}

.bg-latenightluke {
  background-image: url("/bg/latenightluke-og.png") !important;
}

.bg-younglukemusic {
  background-image: url("/bg/younglukemusic-og.png") !important;
}

.bg-openforce {
  background-image: url("/bg/openforce-og.png") !important;
}

.bg-ylpoolparty {
  background-image: url("/bg/ylpoolparty-og.png") !important;
}

.bg-911fosterpets {
  background-image: url("/bg/911fosterpets-og.png") !important;
}
